.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  flex: none;

  .button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 30px;
    height: 30px;

    &:hover {
      color: #47a6ff;
    }
  }
}
