.rating {
  padding: 10px 0px;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;

  .rateBlock {
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border: 2px solid #fff;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 0px 5px #bbb;
    }
  }

  .active {
    border: 2px solid #47a6ff;
  }
}
