.rating {
  padding: 30px 0px;
  align-items: center;
  display: flex;
  justify-content: space-between;

  .rateBlock {
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--white);
    box-shadow: 0px 0px 5px var(--gray);

    &:hover {
      transform: translateY(-3px);
    }
  }

  .active {
    background-color: var(--blue);
  }
}

.error {
  margin-top: 10px;
  width: 100%;
  background-color: var(--background-blue);
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
