.postItem {
  width: 525px;
  background-color: var(--white);
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  .image {
    height: 200px;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .content {
    padding: 10px;

    .category {
      color: var(--blue);
      font-weight: 600;
      font-size: 20px;
      width: fit-content;

      &:hover {
        text-decoration: underline;
      }
    }

    .stats {
      display: flex;
      text-align: right;
      color: var(--gray);

      div {
        display: flex;
        align-items: center;
        margin-right: 10px;

        p {
          margin-right: 5px;
        }
      }
    }
    .title {
      transition: all 0.3s ease-in-out;
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 3px 10px var(--light-gray);
    .content {
      .title {
        color: var(--blue);
      }
    }
  }
}

.firstPost {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: var(--white);
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  .image {
    width: 50%;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 10px;

    .category {
      color: var(--blue);
      font-weight: 600;
      font-size: 20px;
      width: fit-content;

      &:hover {
        text-decoration: underline;
      }
    }

    .stats {
      display: flex;
      text-align: right;
      color: var(--gray);
      margin-bottom: 10px;

      div {
        display: flex;
        align-items: center;
        margin-right: 10px;

        p {
          margin-right: 5px;
        }
      }
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 3px 10px var(--light-gray);
    .content {
      .title {
        color: var(--blue);
      }
    }
  }
}

.recommendedPost {
  position: relative;
  max-width: 220px;
  margin-right: 20px;
  cursor: pointer;

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

  .image {
    width: 220px;
    height: 130px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    img {
      object-fit: cover;
      transition: all 0.3s ease-in-out;
    }
  }

  &:hover {
    .image {
      img {
        transform: scale(1.05);
      }
    }

    .title {
      color: var(--blue);
    }
  }
}
